<h1>#313treeproject</h1>
<p>Creating an economy for urgent and affordable tree work to stabilize communities by protecting Detroit homeowners from life threatening foliage.</p>
<hr>
<small>Need support completing your request? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>
<h6>Do you know of a tree that needs serviced?</h6>
<p>Please click the SERVICE REQUEST link below.</p>
 <a href="/trees/new">
                  SERVICE REQUEST
</a>
<hr>
<h1>TOTAL REQUESTS: <%= Tree.count %></h1>
<table>
<p>
<tr>
<td align="center" valign="middle">
<p>THANK YOU! from |
<% @trees = Tree.all() %>
<% @trees.each do |tree| %> 
<%= tree.adress %> <%= tree.street_name %> |
<% end %>
</p>
</td>
</tr>
</table>

<hr>
<h6>WAYS TO SUPPORT THE PROJECT</h6>

<p><a href="http://www.xotoz.com/users/3"> Buy Soap! </a><br>
<i>$1 from each bar sold will support the #313treeproject</i>
<br>

<p><a href="http://theohyeah.com/coins/13"> Buy LOW-COST Building Materials! </a><br>
<i>10% of all sales will immediately support the #313treeproject</i>

<p><a href="http://theohyeah.com/coins/5"> Buy Cannabis! </a><br>
<i>$20/ozcoin sold will immediately support the #313treeproject</i></p>

<hr>
<small>Would you like to list your product or service? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>

<h6>ABOUT</h6>

<p>The #313treeproject goals are to
<br>
1) locate & record the location of dangerous trees and limbs for city officials, neighborhood organizations, arborists and philanthropists
<br>
2) organize strategic actions so that resources, personpower and logistics can be efficiently managed
<br>
3) attract philanthropic contributions for low cost and free removal for those in need.
<br>
4) safely and efficiently trim or remove these trees by winter each year until all dangerous trees are handled.
<br>
5) utilize the remnants of these trees for compost, firewood, furniture and construction materials to support neighborhood sustainability while lowering the cost of future services.
<hr>
<p>
The #313treeproject is not an organization or company. It is an autonomous database built by YOU and shared only with those whose intention it is to support the project.
<p>
When times are tight, trees are often the last things to be maintained. They are easily ignored and despite the influx of capital for neighborhood development, the burden of tree work is often left to struggling homeowners who cannot afford this work. When trees fall and dreams are crushed, people often relocate thus leaving vacant homes and more blight.
<p>
As the climate continues to change and storms become stronger and more common, it is our wish to create a large scale solution, one neighborhood at a time.
<p>
The #313treeproject is looking for the first Detroit neighborhood to enter 40+ trees into our database. This is where you come in!
<p>
Please share our project with your neighbors, friends and family so we can hope to organize a low cost solution.
<p>
If we don't handle the trees, they will handle us, and our neighborhoods will default to those who can afford the tree work: developers.
</p>
<hr>