<h1>#313treeproject</h1>
<p>Creating an economy for urgent and affordable tree work to stabilize communities by protecting Detroit homeowners from life threatening foliage.</p>
<hr>
<h6>Do you know of a tree that needs serviced?</h6>
<p>Please click the SERVICE REQUEST link below.</p>
 <a href="/trees/new">
                  SERVICE REQUEST
</a>
<hr>
<h1>TOTAL REQUESTS: <%= Tree.count %></h1>
<p>
<% @trees = Tree.all() %>
<% @trees.each do |tree| %> 
<%= tree.adress %> <%= tree.street_name %>, <%= tree.zip_code %> <br>
<% end %>
</p>

<hr>
<h6>WAYS TO SUPPORT THE PROJECT</h6>

<p><a href="http://www.xotoz.com/users/3"> Buy Soap! </a><br>
<i>$1 from each bar sold will support the #313treeproject</i>
<br>

<p><a href="http://theohyeah.com/coins/13"> Buy LOW-COST Building Materials! </a><br>
<i>10% of all sales will immediately support the #313treeproject</i>

<p><a href="http://theohyeah.com/coins/5"> Buy Cannabis! </a><br>
<i>$20/ozcoin sold will immediately support the #313treeproject</i></p>

<hr>
<small>Need support? <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>

<h6>ABOUT</h6>

<p>The #313treeproject goals are to
<br>
1) locate & record the location of dangerous trees and limbs for city officials, neighborhood organizations, arborists and philanthropists
<br>
2) organize strategic actions so that resources, personpower and logistics can be efficiently managed
<br>
3) attract philanthropic contributions for low cost and free removal for those in need.
<br>
4) safely and efficiently trim or remove these trees by winter each year until all dangerous trees are handled.
<br>
5) utilize the remnants of these trees for compost, firewood, furniture and construction materials to support neighborhood sustainability while lowering the cost of future services.
<hr>
