<h1>#313treeproject</h1>
<p>Supporting emergency arbor work to stabilize communities by protecting Detroit homeowners from life threatening foliage.</p>
<hr>
<h6>Do you own or know of a tree that needs serviced?</h6>
<p>Please click the SERVICE REQUEST link below.</p>
 <%= link_to new_tree_path do %>
                  SERVICE REQUEST
              <% end %>
<hr>
<small>Need support completing your request? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>
<h6>WAYS TO SUPPORT THE PROJECT</h6>

<p><a href="http://www.xotoz.com/users/3"> Buy Soap! </a><br>
<i>$1 from each bar sold will support the #313treeproject</i>
<br>

<p><a href="http://theohyeah.com/coins/13"> Buy LOW-COST Building Materials! </a><br>
<i>10% of all sales will immediately support the #313treeproject</i>

<p><a href="http://theohyeah.com/coins/5"> Buy Cannabis! </a><br>
<i>$20/ozcoin sold will immediately support the #313treeproject</i></p>

<hr>
<small>Would you like to list your product or service? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-10 ">
 <% @trees = Tree.all() %>
 <% @trees.each do |tree| %>
   <tr align="left">
	  <td></td>
      <td><p><%= tree.owner_name %></p> </td>
	  <td><p><%= tree.adress %></p> </td>
	  <td align="center"><p><%= tree.zip_code %></p> </td>
     </tr>
  <% end %>
	 
  




