<h1>#313treeproject</h1>
<p>Creating an economy for urgent and affordable tree work to stabilize communities by protecting Detroit homeowners from life threatening foliage.</p>
<hr>
<small>Need support completing your request? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>
<h6>Do you own or know of a tree that needs serviced?</h6>
<p>Please click the SERVICE REQUEST link below.</p>
 <a href="/trees/new">
                  SERVICE REQUEST
</a>
<hr>
<h1>TOTAL REQUESTS: <%= Tree.count %></h1>
<table>
<p>
<tr>
<td align="center" valign="middle">
<p>THANK YOU! from |
<% @trees = Tree.all() %>
<% @trees.each do |tree| %> 
<%= tree.owner_name %> |
<% end %>
</p>
</td>
</tr>
</table>

<hr>
<h6>WAYS TO SUPPORT THE PROJECT</h6>

<p><a href="http://www.xotoz.com/users/3"> Buy Soap! </a><br>
<i>$1 from each bar sold will support the #313treeproject</i>
<br>

<p><a href="http://theohyeah.com/coins/13"> Buy LOW-COST Building Materials! </a><br>
<i>10% of all sales will immediately support the #313treeproject</i>

<p><a href="http://theohyeah.com/coins/5"> Buy Cannabis! </a><br>
<i>$20/ozcoin sold will immediately support the #313treeproject</i></p>

<hr>
<small>Would you like to list your product or service? Pls email me! <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></small>
<hr>
