<h1>#313treeproject</h1>
<p>Supporting emergency arbor work to stabilize communities by protecting Detroit homeowners from life threatening foliage.</p>
<hr>
<%= link_to new_tree_path do %>
          
         REQUEST TREE SERVICE or SUGGEST ARBORIST
		 
      <% end %>	

<p>Need support completing your request? Please, email <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></p>
<hr>
<h6>SUPPORT THE PROJECT</h6>
<p><a href="https://www.xotoz.com/users/3"> Buy Soap! </a>
<i>$1 from each bar sold will support the #313treeproject</i></p>
<br>
<p><a href="http://theohyeah.com/coins/13"> Buy Farm Building Supplies! </a></p>
<i>10% of all sales will immediately support the #313treeproject</i>
<p><a href="http://theohyeah.com/coins/5"> Buy Cannabis! </a>
<i>$20/ozcoin sold will immediately support the #313treeproject</i></p>

<p>To list your product or service here, please email <a href="mailto:ter.reub@gmail.com">ter.reub@gmail.com</a></p>
<hr>
  




