<%= provide(:title, "About") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="text-center" style="font-weight: normal">ABOUT</h4>

    <div class="well" id="about-well">

    </div>
  </div>
</div>