<%= provide(:title, "About") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="text-center" style="font-weight: normal">ABOUT</h4>
    <div class="well" id="about-well">
<h20>
"Great things are done by a series of small things brought together."
</h20>
<small> [ Vincent Van Gogh ] </small>   
<h21>
<hr>
The F & P { <%= Thing.count %> } is a listing of goods and services available for barter/trade with decentralized links for U$D/Bitcoin/credit_card checkout. Our listing is designed to inspire local & frontier digital economies with a limit of 500 listings per URL.
<hr>
To join our Detroit barter network, please call 313-740-7798 for our private listing URL.
</h21>

    </div>
  </div>
</div>