<h1>#BLMfinance NETWORK</h1>
<h6>a case for Bitcoin</h6>
<hr>
<p><i>"I believe #blacklivesmatter movement is being exploited to justify marshall law."</i></p> 
<hr>
<p>Since 2009, a financial technology of the internet has been ignored, suppressed and attacked.</p>

<h5>Sound familiar?</h5>

<p>This technology has the ability to <u>peacefully</u> uppend national and international monetary scams by global corporations and central banking masters.</p>

<p>Have you heard about <a href="http://hiddensecretsofmoney.com/videos/episode-4"> THE "FEDERAL" RESERVE SCAM </a> ?
</p>
<hr>
<p>Once you understand the system is designed to trap, enslave and fail, WE must ask ourselves why this system STILL exists. The answer is likely routed in survival. We are still well within the Reagon Era where scarcity, shock and awe, policing, and profits claim to make strides for the American individual. For instance, we are forced to debate the amount of minimum wage as opposed to whether or not an hourly wage is a reasonable way to employ. Why not offer hourly employees a percentage of the profit? When you think about it, the amount an hourly wage pays is arbitrary when we are negotiating with corporations who are financed directly by the money printers through FDIC insured banks that lend 10x of what actually exists. Money printing, within a "fractional reserve" system, creates unpayable debts to governments while decreasing the value of the currency for everday Americans.</p> 
<hr>
<p><a href="https://www.youtube.com/watch?v=6lIqNjC1RKU"> Reagon by Killer Mike </a></p>
<hr>
<p>This is happening around the world and is a result of "centralized" (profit based) models for resource distribution cannot keep up with increasing demands upon the system. America will be the last to see the true cost of centralized economies being run by corporations. Why? Because the United States has the strongest military and thereby forces a strong and seemingly silent hand during negotiations. In short, the military complex has many shades of mercinaries willing to police for profits both foreign and domestic.</p>
<hr>
<p><a href="https://www.youtube.com/watch?v=j8d-IYSM-08"> MLK - THREE EVILS OF SOCIETY </a></p>
<hr>

<p>A global financial revolution could be the only chance we have to supress militarized corporations burdened with sustaining a global population inside a profit centric model. As new technologies develop, we have a choice to adopt or ignore them. Despite new levels of efficiency and transparency, If MLK and JFK had Bitcoin, Digital currencies have the ability to peacefully transfer wealth from one global system of centralized financial control to another that is designed to be "un-central" or decentralized. If you are willing to put your life on the line by physically protesting, why not put some of your income toward a financial movement designed to end this struggle?</p>
<hr>
<h2>BITCOIN vs FDIC</h2>
<hr>
<p><a href="https://blockchain.info/wallet/#/signup"> CONNECT YOUR U$D TO BITCOIN </a></p>
<hr>


The "Federal" model of creating(printing $) and distributing wealth(a % of printed $) is throttled by banks through interest rates and overdraft fees. For most people, money originates in a pay check. Once deposited, your wealth becomes a fraction of a bank's holdings.


Simple steps:

What's next?
<hr>
<h2>
<a href="http://www.theohyeah.com/bounties/3"> #BLMfinancial </a>

<b>1PHi6DEG8DHAsxU2xrR8wk7mL7dJJZjRcA</b>

<hr>

<a href="http://www.theohyeah.com/coins/1"> #halfnotes </a>

<b>12WjcuSckG3yrBzGfF9Nk74mRhHAkMriMq</b></h2>
<hr>
<p>Would you like to promote your own Bitcoin bounty?</p>
<br>
<p>We'd like to list it!
<br>
<p>Please email <a href="mailto:whalebone.earth@gmail.com">whalebone.earth@gmail.com</a></p>
<h5>OR</h5>
<p>Build your own listing!!!</p>


