<h2>BLM FINANCIAL NETWORK</h2>

<p>Since 2009, a financial technology of the internet has been ignored, suppressed and attacked.</p>

<p>Sound familiar?</p>

<p>This technology has the potential to uppend 

<p>It is our belief that the #blacklivesmatter movement is being used by these p

How the Federal Reserve handles wealth:

How Bitcoin handles wealth:

Why Bitcoin?

Simple steps:

What's next?