<h1>BLM FINANCIAL NETWORK</h1>
<h6>a job for Bitcoin</h6>

<p>Since 2009, a financial technology of the internet has been ignored, suppressed and attacked.</p>

<h5>Sound familiar?</h5>

<p>This technology has the ability to uppend national and international monetary scams by global corporations and central banking masters.</p>

<p>Have you heard about <a href="http://hiddensecretsofmoney.com/videos/episode-4"> THE "FEDERAL" RESERVE SCAM </a> ?
</p>
<hr>
<p>Once you understand the system is designed to trap, enslave and fail, WE must ask ourselves why this system STILL exists. The answer is likely routed in survival. We are still well within the Reagon Era where scarcity, shock and awe, policing, and profits claim to make strides for the American individual. For instance, we are forced to debate the amount of minimum wage as opposed to whether or not an hourly wage is a reasonable way to employ. Why not offer hourly employees a percentage of the profit? When you think about it, the amount an hourly wage pays is arbitrary when we are negotiating with corporations who are financed directly by the money printers through FDIC insured banks that lend 10x of what actually exists. Money printing, within a "fractional reserve" system, creates unpayable debts to governments while decreasing the value of the currency for everday Americans.</p> 

<p><a href="https://www.youtube.com/watch?v=6lIqNjC1RKU"> Reagon by Killer Mike </a></p>

<p>This is happening around the world and is a result of "centralized" (profit based) models for resource distribution cannot keep up with increasing demands upon the system. America will be the last to see the true cost of centralized economies being run by corporations. Why? Because the United States has the strongest military and thereby forces a strong and seemingly silent hand during negotiations. In short, the military complex has many shades of mercinaries willing to police for profits both foreign and domestic.</p>

<p>For this reason, a global financial revolution could be the only chance we have to defeat militarized corporations. Digital currencies have the ability to peacefully give transfer wealth from one global system oof centralized financial control to another that is designed to be "un-central" or decentralized.</p>

<p>If you are willing to put your life on the line by physically protesting, why not put 11% of your income toward a financial movement designed to end this battle?</p>

<p>For the record, we are not Bitcoin investors hoping to increase the demand for Bitcoin in order to make short term profits off the BLMhastag.  university trained economist who has learned everything I know now believe about global economics from Bitcoin. This website is designed using "decentralized" principles of the internet and is ultimately here as a learning tool and support for people who could benefit from the success of Bitcoin.</p>  



<p>It is our belief that the #blacklivesmatter movement is being used by these p

How the Federal Reserve handles wealth:

How Bitcoin handles wealth:

Why Bitcoin?

Simple steps:

What's next?
<hr>
<h2>
<a href="http://www.theohyeah.com/bounties/3"> #BLMfinancial </a>

<b>1PHi6DEG8DHAsxU2xrR8wk7mL7dJJZjRcA</b>

<hr>

<a href="http://www.theohyeah.com/coins/1"> #halfnotes </a>

<b>12WjcuSckG3yrBzGfF9Nk74mRhHAkMriMq</b></h2>
<hr>
<p>Would you like to promote your own Bitcoin bounty?</p>
<br>
<p>We'd like to list it!
<br>
<p>Please email <a href="mailto:whalebone.earth@gmail.com">whalebone.earth@gmail.com</a></p>
<h5>OR</h5>
<p>Build your own listing!!!</p>


