<div class="row">  
<div class="col-lg-1 col-left">

<table align="center">
<tr>
<td align="right"><h1>WHALEBONE INTERGALACTIC</h1></td>
<td align="left" valign="bottom"><img src="/assets/blue_btc.jpg" alt="bitcoin" height="50" width="50"><h6>cafe banco*</h6></td>
</tr>
<tr>
<td><p>The original ice cream bank.* [est. 2012]</p></td>
</tr>
</table>

<hr>
</div>
